/* Created by: Santiago Hewett
* Created on: May 2023
* This CSS file defines the style for index.html
* ICS2O-Assign-04-HTML-LosPollosHermanos
*/

body {
	background-color: #ff9500;
}

h4 {
  background-color: #ffd505;
}

h5 {
  background-color: #f8e620;
}